input[type='text'],
input[type='number'],
input[type='submit'],
input[type='password'] {
	margin: 0;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--primary);
	color: var(--background);
	box-shadow:
		5px 5px 10px rgba(255, 255, 255, 0.1) inset,
		-5px -5px 10px rgba(0, 0, 0, 0.2) inset;

	transition:
		box-shadow 500ms ease-out,
		transform 250ms cubic-bezier(0, 1.47, 0.55, 1.54);
}

input[type='text']:hover,
input[type='number']:hover,
input[type='submit']:hover,
input[type='password']:hover {
	z-index: 999;
	transform: scale(1.05);
}
input[type='text']:focus,
input[type='number']:focus,
input[type='submit']:focus,
input[type='password']:focus {
	box-shadow:
		-5px -5px 10px rgba(255, 255, 255, 0.4) inset,
		5px 5px 10px rgba(0, 0, 0, 0.5) inset;

	transform: scale(0.95);

	transition:
		box-shadow 50ms ease-out,
		transform 250ms cubic-bezier(0, 1.47, 0.55, 1.54);
}
input[type='text']::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

input[type='range'] {
	accent-color: var(--primary);
}

input:disabled {
	opacity: 0.5;
}

input[type='checkbox'] {
	width: max-content;
	accent-color: var(--primary);
	transition: 100ms cubic-bezier(0, 1.47, 0.55, 1.54);
}
input[type='checkbox']:hover {
	transform: scale(1.4);
}
input[type='checkbox']:active {
	transform: scale(0.9);
}

input[data-hidden],
input[data-hidden]:focus,
input[data-hidden]:hover {
	background-color: transparent;
	color: var(--text);
	box-shadow: none;
	transform: none;
}
