@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--bg: rgb(3, 15, 29); /* background */
	--bgt: rgb(3, 15, 29, 0.5); /* background transparent */
	--bga: rgb(23, 63, 75); /* background accent */
	--bgat: rgb(23, 63, 75, 0.5); /* background accent transparent */
	--p: rgb(243, 21, 14); /* primary */
	--s: rgb(13, 218, 156); /* secondary */
	--t: rgb(25, 177, 247); /* text */
}

html {
	background-color: var(--bg);
	background-image: radial-gradient(var(--bga) 0.5px, transparent 0.5px);
	background-size: 20px 20px;
	background-repeat: space repeat;
	background-position: calc(20px - mod(1vh, 20px)) 20px;
	color: var(--t);
	padding: 10px;
}
* {
	/* font-family: 'Play', sans-serif; */
	font-family: 'Noto Sans', sans-serif;
}
html,
body {
	margin: 0;
}

br {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	--c: var(--t);
	color: var(--c);
}

a {
	--c: var(--p);
	color: var(--c);
	text-decoration-color: var(--c);
}
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
	color: var(--bg);
	background-color: var(--c);
}
a:focus-visible {
	outline: 3px var(--c) solid;
	border-radius: 5px;
}
a[data-s],
h1[data-s],
h2[data-s],
h3[data-s],
h4[data-s],
h5[data-s],
h6[data-s] {
	--c: var(--s);
}
a[data-p] {
	--c: var(--t);
}
h1[data-p],
h2[data-p],
h3[data-p],
h4[data-p],
h5[data-p],
h6[data-p] {
	--c: var(--p);
}

input {
	--c: var(--t); /* color */
	background-color: var(--bg);
	outline: none;
	border: none;
	border: 0.5px solid var(--bga);
	color: var(--c);
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	transition:
		border 200ms ease-in,
		filter 500ms ease-in-out;
}
input[type='range'] {
	accent-color: var(--c);
}
input::placeholder {
	user-select: none;
	color: var(--c);
	opacity: 0.4;
}
input:focus {
	border-color: var(--c);
}
input[data-s] {
	--c: var(--s);
}
input[data-p] {
	--c: var(--p);
}
textarea {
	resize: none;
	--c: var(--t);
	background-color: var(--bg);
	outline: none;
	border: none;
	color: var(--c);
	border-radius: 5px;
	padding: 5px;
	border: 0.5px solid var(--bga);
	transition:
		border 200ms ease-in,
		filter 500ms ease-in-out;
}
textarea::placeholder {
	user-select: none;
	color: var(--c);
	opacity: 0.4;
}
textarea:focus {
	border-color: var(--c);
}
textarea[data-s] {
	--c: var(--s);
}
textarea[data-p] {
	--c: var(--p);
}

button {
	user-select: none;
	font-weight: 600;
	--c: var(--t);
	background-color: transparent;
	color: var(--c);
	border: 1px solid var(--c);
	box-shadow: 0 0 8px var(--c) inset;
	border-radius: 5px;
	padding: 5px;
	transition:
		padding 100ms linear,
		margin 100ms linear,
		filter 500ms ease-in-out;
}
button:focus-visible {
	outline: 3px var(--c) solid;
}
button:hover {
	padding: 3px;
	margin: 2px;
}
button:active {
	padding: 4px;
	margin: 1px;
}
button[data-s] {
	--c: var(--s);
}
button[data-p] {
	--c: var(--p);
}

code {
	letter-spacing: -1px;
	display: inline-block;
	--c: var(--t);
	border-radius: 5px;
	padding-right: 3px;
	padding-left: 3px;
	margin-right: 2px;
	border: var(--c) 1px solid;
	/* box-shadow: 0 0 5px var(--c); */
	color: var(--c);
}
code::selection {
	background-color: var(--c);
	color: var(--bg);
}
code[data-s] {
	--c: var(--s);
}
code[data-p] {
	--c: var(--p);
}

strong {
	--c: var(--p);
	color: var(--c);
}
strong::selection {
	background-color: var(--c);
	color: var(--bg);
}
strong[data-s] {
	--c: var(--s);
}
strong[data-p] {
	--c: var(--t);
}

button:disabled,
input:disabled,
textarea:disabled {
	filter: saturate(0.3) brightness(0.7);
}

span {
	font-style: italic;
}

h2 {
	text-shadow: 0 0 20px var(--c);
}

::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--bga);
}

b {
	font-weight: 400;
	text-decoration: underline;
}

textarea,
input {
	box-sizing: border-box;
}

.textoverflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
